

/* admin-page css styling */



body{
    /* overflow: hidden; */
}
header{
    height: 150px;
    background-color: #FE0000;
    position: relative;
}


header::before{
    content: ' ';
    background-image: url(../assets/laptop3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.25;

}


.nav-bars{
    border: 2px #691414 solid;
    margin-top: 43px;
    margin-left: 30px;
    margin-right: 30px;
}

.nav-bars nav{
    padding: 12px 13px 12px 14px;
}

input[type=text] {
    width: 319px;
    box-sizing: border-box;
    border: 2px solid #FE0000;
    border-radius: 4px;
    font-size: 16px;
    background-color: #FE0000;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 13px 12px 14px;
    transition: width 0.4s ease-in-out;
    color: #fff;
  }

  .nav-bars nav form input[placeholder=searchin..] {
    
  }

  .fa-magnifying-glass:before, .fa-search:before {
    content: "\f002";
    margin-left: -32px;
    color: #fff;
    
}


.nav-bars .helps{
    float: right;
    margin-top: -29px;
    margin-right: -128px;
}

.helps a{
    padding: 3px 133px 5px 4px;
    text-decoration: none;
    color: black;
}

.helps .fa-solid{
    color: #FE0000;
}

.hrr hr{
    color: #FE0000;
    font-size: 20px;
}

.rols{
    margin-top: 30px;
    margin-left: 72px;
}

.rols .requests th{
    border: 1px solid #FE0000;
    padding: 10px 55px 9px 55px;
}

.requests tr th a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.requests th:hover{
    background-color: #FE0000;
}

.requests th a:hover{
    color: #fff;
    background-color: #FE0000;
}

.requests th:active{
    background-color: #FE0000;
}

.requests th a:active{
    color: #fff;
    
}

.sec-rol{
    margin-top: 45px;
    margin-left: 72px;
}

.sec-rol .req2 th{
    border: 1px solid #FE0000;
    padding: 10px 55px 9px 55px;
    width: 130px;
    
}

.req2 tr th a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.req2 th:hover{
    background-color: #FE0000;
}
.req2 tr th a:hover{
    color: #fff;
}



/* finance statement page styling */

header .finance-head{
    height: 140px;
}


.navs{
    border: 2px solid #FE0000;
    margin: 20px 20px 20px 20px;
}

.navs nav{
    padding: 20px;
}

.navs nav button{
  width: 20%;
  background-color: #FE0000;
  color: white;
  padding: 7px 5px;
  /* margin: 8px 0; */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.navs nav button a{
    text-decoration: none;
    color: #fff;
    font-family: "poppins" sans-serif;
}

.navs .help-signout{
    float: right;
    margin-top: 5px;
    margin-right: -128px;
}

.navs .help-signout a{
    padding: 3px 133px 5px 4px;
    text-decoration: none;
    color: black;
}
.help-signout .fa-solid{
    color: #FE0000;
}

.forms{
    margin-left: 88px;
}
.forms form{
    
}

.forms .name {
    background-color: #FE0000;
    width: 130px;
    margin-left: 10px;
    
}

.forms .date{
    background-color: #FE0000;
    width: 130px;
    margin-left: 10px;
    
}
.forms .from{
    background-color: #FE0000;
    width: 130px;
    margin-left: 10px;
    
}

.forms .to{
    background-color: #FE0000;
    width: 130px;
    margin-left: 10px;
    
}

::placeholder{
    color: #fff;
}


.list-item{
    margin-top: 20px;
    margin-left: 86px;
    display: block;
}

.list-item button{
    width: 15%;
    background-color: #FE0000;
    color: white;
    padding: 7px 5px;
    /* margin: 8px 0; */
    border: none;
    /* border-radius: 4px; */
    cursor: pointer;
    
}

.list-item button a{
    text-decoration: none;
    color: #fff;
    font-family: "poppins" sans-serif;

}
.list-item ul{
    list-style-type: none;
    display: inline;

}
.list-item li{
    display: inline;
}

.list-item li a{
    /* display: block; */
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    margin-left: 20px;
    
}

.list-item li a:hover{
    border-bottom: blue 2px solid;
}


/* section a */


.section-b{
    /* border: #770d0d solid 2px; */
    margin-top: 0px;
    height: 800px;
    margin-right: 8px;
    margin-left: 1px;
    
    

}

.section-b .grid-20{
    background-color: #FE0000;
    height: 310px    
}

.grid-20 .forms2{
    margin-top: 20px;
    color: #fff;
    /* cursor: pointer; */
    
}

.section-b .grid-80{
    margin-left: -3em;
    

}

.section-b .grid-80 table{
    width: 1005px;
    height: 310px;

    
    
}


.section-b .grid-80 table tr{
    border: 1px solid #FE0000;
    border-collapse: collapse;
    /* padding: 30px; */

  }



